.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}
.header img {
  width: 200px;
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 500px) {
  .header {
    justify-content: space-between;
    margin: 20px 10px;
  }
}
